  <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
            text-align: center;
            margin: 0;
        }
        .buttons {
            margin-top: 10px;
        }
        .buttons button {
            margin: 5px;
        }
        .container {
            text-align: center;
            width: 100%;
        }
    </style>
